.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	backdrop-filter: blur(2px);
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: grid;
	margin: 0 auto;
	padding: 20px;
	border-radius: 8px;
	background-color: #1e2a44;
}

.closeModal {
	justify-self: end;
	width: 2rem;
	height: 2rem;
}

.title {
	justify-self: center;
	font-size: 1.5rem;
}

.inputContainer {
	display: grid;
	gap: 0.5rem;
}

.tiersEditor,
.criteriasEditor {
	width: 100%;
	margin-top: 0.5rem;
}

.tiers,
.criterias {
	display: grid;
	max-height: 250px;
	overflow-y: scroll;
	gap: 0.5rem;
	margin-bottom: 0.5rem;
}

.subTitle {
	margin-bottom: 0.75rem;
}

.tier {
	display: grid;
	grid-template-columns: 1fr 100px 50px;
	width: 100%;
	gap: 20px;
}

.criteria {
	display: grid;
	grid-template-columns: 1fr 100px 1fr 50px;
	width: 100%;
	gap: 20px;
}

.label {
	font-weight: bold;
}

.button {
	padding: 0.5rem 1rem;
	height: 2.5rem;
	background-color: rgb(37 99 235);
	color: #fff;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	justify-self: center;
}

.button:hover {
	background-color: rgb(29 78 216);
}

.delete {
	height: 2rem;
	width: 2rem;
	align-self: end;
	justify-self: center;
	border-radius: 50%;
	color: white;
	background-color: rgb(124, 10, 10);
	border: none;
	font-size: 16px;
	cursor: pointer;
}

.delete:hover {
	background-color: rgb(194, 0, 0);
}

.submit {
	background-color: hsl(266, 100%, 50%);
	padding: 8px 16px;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
