.tierlist {
    display: grid;
    border: solid 1px white;
    border-bottom: none;
}

.tier {
    display: grid;
    grid-template-columns: 150px minmax(20vw, 1fr);
    border-bottom: solid 1px white;
    height: 100%;
}

.tier-name {
    justify-self: center;
    align-self: center;
}

.items-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: rgb(15 23 42);
    border-left: solid 1px white;
    min-height: 100px;
}

.img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
